.bgcolor{
    background-color: #fceae8;
}
.price{
    color: #FF136F;
}
.carousel-item{
    padding: 30px 40px;
}
.buy-now-button{
    background-image: -moz-linear-gradient(to bottom, #FF589B 0%,#FF136F 100%);
    color:#fff;
    border:none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.categories{
    padding:20px;
}
.cat1, .cat2, .cat3{
padding: 10px 20px;
border-radius: 20px;
}
.cat1{
    background-color: rgb(234, 121, 234);
}
.cat2{
    background-color: rgb(231, 181, 88);
}
.cat3{
    background-color: rgb(85, 85, 224);
    
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.container{
    padding-top: 40px;
}
#subscribe{
    height: 250px;
    padding: 100px 80px;
}
#subscribe h6{
    color: gray;
}